
  @import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:wght@300&family=Raleway:wght@300&family=Ubuntu:wght@300&display=swap');

*{
  font-family: 'Itim', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif;
overflow: hidden;
}

